body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  min-height: 95vh;
}
.cards{
  display: flex;
  flex-direction: row;
  gap: 50px;
}


.tile-image{
  float: left;
  height: 200px;
  margin-right: 20px;
}

h1 {
  font-size: 5rem;
}

footer {
  display: flex;
  justify-content: end;
  color: midnightblue;
}


@media(max-width: 680px){


  .logo{
    margin: 0;
    padding: 0;
    width: 100px;
  }
  h1{
    font-size: 2rem;
    text-align: center;
  }
  .cards{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .tile-image{
    height: 150px;
    width: 100%;
  }
  footer{
    justify-content: center;
  }
}




